<footer class=" bg-main-light py-5">
    <div class="container">
        <h2>Get the FreshCart App</h2>
        <p class="text-muted font-sm">We Well Send You a Link</p>
        <div class="d-flex gap-3">
            <input type="email" class="form-control" placeholder="Email..........">
            <button class="btn bg-main flex-shrink-0 text-white">Share App Link</button>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2 align-items-center">
                <h5 class="fw-semibold">Payment Partener</h5>
                <img src="assets/MasterCard_logo.png" class="paywidth" alt="MasterCard">
                <img src="assets/visa-1.svg" class="paywidth " alt="visa">
                <img src="assets/paypal.png" class="paywidth " alt="paypal">
            </div>
            <div class="d-flex gap-2 align-items-center ">
                <h6 class="fw-semibold "> Get deliveries with FreshCart </h6    >
                <img src="assets/app-store.svg" class="Appwidth" alt="paypal">
                <img src="assets/google-store.svg" class="Appwidth" alt="paypal">

            </div>
        </div>
        <hr>
        <h3 class="h6 text-center">&copy; 2024 Ahmed Alaa All Rights Reserved </h3>

    </div>
</footer>