<div class="my-5">
    <div class="py-5 shadow rounded-3 " style="background-image: url('assets/light-patten.svg');">
        <div class="m-3">
            <form action="" [formGroup]="Forgotpassword" (ngSubmit)="forgotpassword(Forgotpassword)">
                <div class="mb-2">
                    <label for="email" class="fw-semibold">Enter Your Email :</label>
                    <input formControlName="email" id="email" class="form-control" type="email">
                    <div class="alert alert-danger mt-1"
                        *ngIf="Forgotpassword.get('email')?.touched && Forgotpassword.get('email')?.errors">
                        <p *ngIf="Forgotpassword.get('email')?.errors?.['required']" class="p-1">Email Input Is Required
                        </p>
                        <p *ngIf="Forgotpassword.get('email')?.errors?.['email']" class="p-1">Please Enter Valid Email
                        </p>

                    </div>
                    <button [disabled]="Forgotpassword.invalid" class="btn bg-main text-white d-block ms-auto mt-3">Send
                        Code</button>
                </div>
            </form>

        </div>
    </div>
</div>