<div class="my-5">
    <div *ngIf="errormessage">
        <p class="h3">{{errormessage}}</p>
    </div>
    <div class="py-5 shadow rounded-3 " style="background-image: url('assets/light-patten.svg');">
        <div class="m-3">

            <form action="" [formGroup]="restPassword" (ngSubmit)="resetPassword(restPassword)">

                <div class="mb-2">
                    <label for="email">Email:</label>
                    <input formControlName="email" id="email" class="form-control" type="email">
                    <div class="alert alert-danger mt-1"
                        *ngIf="restPassword.get('email')?.touched && restPassword.get('email')?.errors">
                        <p *ngIf="restPassword.get('email')?.errors?.['required']" class="p-1">Email Input Is Required
                        </p>
                        <p *ngIf="restPassword.get('email')?.errors?.['email']" class="p-1">Please Enter Valid Email</p>

                    </div>
                </div>
                <div class="mb-2">
                    <label for="newPassword">Password:</label>
                    <input formControlName="newPassword" id="newPassword" class="form-control" type="password">
                    <div class="alert alert-danger mt-1"
                        *ngIf="restPassword.get('newPassword')?.touched && restPassword.get('newPassword')?.errors">
                        <p *ngIf="restPassword.get('newPassword')?.errors?.['required']" class="p-1">Password Input Is
                            Required</p>
                        <p *ngIf="restPassword.get('newPassword')?.errors?.['pattern']" class="p-1">Must started With
                            upperCase
                            letter and Minlength is 6 characters ,Maxlength is 10 characters</p>

                    </div>
                </div>
                <button [disabled]="restPassword.invalid" class="btn bg-main text-white d-block ms-auto mt-3">Change
                    Password </button>
            </form>

        </div>
    </div>
</div>