<div class="my-5">
    <div class=" alert alert-danger" *ngIf="errormessage">
        {{errormessage}}
    </div>
    <div class="py-5 shadow rounded-3 " style="background-image: url('assets/light-patten.svg');">
        <div class="m-3">
            <form action="" [formGroup]="Forgotpassword" (ngSubmit)="ChangeMyPassword(Forgotpassword)">
                <div>
                    <div class="mb-2">
                        <label for="currentPassword" class="fw-semibold">old Password:</label>
                        <input formControlName="currentPassword" id="currentPassword" class="form-control"
                            type="password">
                        <div class="alert alert-danger mt-1"
                            *ngIf="Forgotpassword.get('currentPassword')?.touched && Forgotpassword.get('currentPassword')?.errors">
                            <p *ngIf="Forgotpassword.get('currentPassword')?.errors?.['required']" class="p-1">Password
                                Input
                                Is
                                Required</p>
                            <p *ngIf="Forgotpassword.get('currentPassword')?.errors?.['pattern']" class="p-1">Must
                                started
                                With
                                upperCase
                                letter and Minlength is 6 characters ,Maxlength is 10 characters</p>

                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="fw-semibold">New Password:</label>
                        <input formControlName="password" id="password" class="form-control" type="password">
                        <div class="alert alert-danger mt-1"
                            *ngIf="Forgotpassword.get('password')?.touched && Forgotpassword.get('password')?.errors">
                            <p *ngIf="Forgotpassword.get('password')?.errors?.['required']" class="p-1">Password
                                Input
                                Is
                                Required</p>
                            <p *ngIf="Forgotpassword.get('password')?.errors?.['pattern']" class="p-1">Must started
                                With
                                upperCase
                                letter and Minlength is 6 characters ,Maxlength is 10 characters</p>

                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="rePassword" class="fw-semibold">RePassword:</label>
                        <input formControlName="rePassword" id="rePassword" class="form-control" type="password">
                        <div class="alert alert-danger mt-1"
                            *ngIf="Forgotpassword.get('rePassword')?.touched && Forgotpassword.get('rePassword')?.errors">
                            <p *ngIf="Forgotpassword.get('rePassword')?.errors?.['required']" class="p-1">Password
                                Input
                                Is
                                Required</p>
                            <p *ngIf="Forgotpassword.get('rePassword')?.errors?.['Repassword']" class="p-1">Must started
                                With
                                upperCase
                                letter and Minlength is 6 characters ,Maxlength is 10 characters</p>

                        </div>
                    </div>
                    <button [disabled]="Forgotpassword.invalid" class="btn bg-main text-white d-block ms-auto mt-3">Save
                        Changes</button>
                </div>
            </form>

        </div>
    </div>
</div>